<h1>SoundCloud found for <%=@params.capitalize%></h1>

<div class="player">
  <h4 class="trackTitle">Current track</h4>
      <div id="trackPrevious" id="previous">Previous</div>
      <div id="trackPlay" id="play">Play</div>
      <div id="trackPause" id="pause">Pause</div>
      <div id="trackNext" id="next">Next</div>
</div>


<%@tracks.each do |track|%>


  <audio controls>
      <source src="<%=track.stream_url+'?client_id='+ENV["CLIENT_ID"] %>" type="audio/ogg">
  </audio>

<%end%>


